<li>
	{{burger_name}}

	<button class="change-devour btn btn-outline-dark" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}EAT!{{else}}Throw up!{{/if}}
	</button>

	<button data-id="{{id}}" class="delete-burger btn btn-outline-dark">Delete</button>
	
</li>
