<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devoured}}EAT!{{else}}Throw up!{{/if}}
	</button>

	<button data-id="{{id}}" class="delete">Delete</button>
	
</li>
